<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    <!-- <script src="https://cdn.jsdelivr.net/npm/vuelidate@0.7.4/lib/index.min.js"></script> -->
    <title>Teste Port Luis</title>
</head>
<body>
    <div id="app">
        <header> 
            <h1>
                Sistema de Cadastro
            </h1>
        </header>


        <section class="cabecalho">

            <div class="painel-titulo">
                <h2>Cadastro de Clientes</h2>
            </div>
            
            <div>
                <!-- Modal Criação -->
                <section class="modal" v-if="painel == true" @click="fecharModal">
                    <form class="modal-container">
                        <label for="">Nome</label>
                        <input class="required" type="text" v-model="nome" 
                            placeholder="Informe seu nome" >
                        <label for="">Telefone</label>
                        <input class="required" type="text" v-model="telefone" 
                        placeholder="(xx) xxxxx-xxxx" v-mask="'(##) #####-####'">
                        <p v-if="mensagem">Preenha o campo corretamente.</p>
                        <div class="btn-card" v-if="editar != true">
                            <button @click.prevent="criarUsuario(nome,telefone)" 
                                class="btn">Adicionar</button>
                        </div>

                        <div class="btn-flex">
                            <div class="btn-card" v-if="editar == true">
                                <button @click.prevent="atualizarUsuario" 
                                    class="btn">
                                    Atualizar
                                </button>
                            </div>
                            <div class="btn-card" v-if="editar == true">
                                <button @click.prevent="cancelarUsuario" 
                                    class="btn">
                                    Cancelar
                                </button>
                            </div>
                        </div>
                        <button class="fechar" @click.prevent="fecharModal">X</button>
                    </form>
                </section>

                <!-- Lista Principal -->
                <div class="painel-lista-principal">
                    <div v-if="datas.length > 0">
                        <div class="painel-lista-titulos">
                            <h3>Cliente</h3>
                            <h3>N° Cliente</h3>
                            <h3>Ações</h3>
                        </div>
                           
                        <ul>
                            <li v-for="(data,i) in datas" :key="data.nome" 
                                class="lista" >
                                <p>{{data.nome}}</p>
                                <p>{{data.telefone}}</p>
                                <div class="acoes">
                                    <div @click="editarUsuario(data,i)">
                                        <svg style="width:21px;height:21px" viewBox="0 0 24 24">
                                            <path fill="currentColor" d="M14.06,9L15,9.94L5.92,19H5V18.08L14.06,9M17.66,3C17.41,3 17.15,3.1 16.96,3.29L15.13,5.12L18.88,8.87L20.71,7.04C21.1,6.65 21.1,6 20.71,5.63L18.37,3.29C18.17,3.09 17.92,3 17.66,3M14.06,6.19L3,17.25V21H6.75L17.81,9.94L14.06,6.19Z" />
                                        </svg>
                                    </div>
                                    <div @click="removerUsuario(i)">
                                        <svg style="width:20px;height:20px" viewBox="0 0 24 24">
                                            <path fill="currentColor" d="M9,3V4H4V6H5V19A2,2 0 0,0 7,21H17A2,2 0 0,0 19,19V6H20V4H15V3H9M7,6H17V19H7V6M9,8V17H11V8H9M13,8V17H15V8H13Z" />
                                        </svg>
                                    </div>
                                </div>
                            </li>
                        </ul>

                        <p class="popUpClass" v-if="alertaAtivo">{{popUp}}</p>
                    </div>
    
                    <div class="sem-clientes" v-else>
                        <p> Estamos sem Clientes :( </p>
                    </div>
                </div>
                
            </div>

            <div class="btn-card" >
                <button @click="abrirModal" class="btn">Adicionar</button>
            </div>
        </section>



    </div>

    
    

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/v-mask/dist/v-mask.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css" rel="stylesheet">
    <!-- <script src="https://cdn.jsdelivr.net/npm/vuelidate@0.7.7/lib/index.min.js"></script> -->
    <script src="./app.js">
    
    </script>
    
    <script>
        Vue.use(VueMask.VueMaskPlugin)
    </script>
    
   

</body>
</html>