<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.13"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/vuelidate@0.7.4/lib/index.min.js"></script> -->
    <title>Teste Port Luis</title>
</head>
<body>
    <div id="app">
        <header> 
            <h1>
                Sistema de Cadastro
            </h1>
        </header>


        <section class="cabecalho">

            <div class="painel-titulo">
                <h2>Cadastro de Clientes</h2>
            </div>
            
            <div>
                <!-- Modal Criação -->
                <section class="modal" v-if="painel == true" @click="fecharModal">
                    <div class="modal-container">
                        <label for="">Nome</label>
                        <input type="text" v-model="usuario.nome" placeholder="Informe seu nome">
                        <label for="">Telefone</label>
                        <input type="text" v-model="usuario.telefone" 
                            placeholder="(xx) xxxxx-xxxx" v-mask="'(xx) xxxxx-xxxx'">
                        <p v-if="mensagem">Preenha o campo corretamente.</p>
                        <div class="btn-card">
                            <button @click="criarUsuario" class="btn">Adicionar</button>
                        </div>
                        <button @click="painel = false">X</button>
                    </div>
                </section>

                <!-- Lista Principal -->
                <div class="painel-lista-principal">
                    <div v-if="datas.length > 0">
                        <div class="painel-lista-titulos">
                            <h3>Cliente</h3>
                            <h3>N° Cliente</h3>
                            <h3>Ações</h3>
                        </div>
                           
                        <ul>
                            <li v-for="(data,i) in datas" :key="data.nome" class="lista">
                                <p>{{data.nome}}</p>
                                <p>{{data.telefone}}</p>
                                <div class="acoes">
                                    <div @click="editarUsuario(data)">
                                        <img src="./assets/editar-texto.png" alt="Editar">
                                    </div>
                                    <div @click="removerUsuario(i)">
                                        <img src="./assets/excluir.png" alt="Excluir">
                                    </div>
                                </div>
                            </li>
                        </ul>

                        <p class="popUpClass" v-if="alertaAtivo">{{popUp}}</p>
                    </div>
    
                    <div class="sem-clientes" v-else>
                        <p> Estamos sem Clientes :( </p>
                    </div>
                </div>
                
            </div>

            <div class="btn-card" >
                <button @click="abrirModal" class="btn">Adicionar</button>
            </div>
        </section>



    </div>

    
    

    <script src="./app.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/v-mask/2.2.1/v-mask.min.js" integrity="sha512-7oTKsUd6KxNwNXCNdKm88VZRJMGK5NU5GKBf/Ia0xt/5gAAV63sVXsEXi7DHbkva/C7C5LGAR3IU1BmGUMkA0Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

</body>
</html>